# Dependencies
**/node_modules/

# Environment variables
.env
.env.local
.env.development
.env.production

# Build outputs
frontend/
/new_frontend/build
/new_frontend/out
/new_frontend/.next

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Testing
/coverage

# Database
*.sqlite
*.sqlite3

# Docker
.docker/data/

# Temporary files
*.tmp
*.temp
.cache/
