services:
  app:
    image: my-gitstars:latest
    #    build:
    #  context: .
    #  dockerfile: Dockerfile
    ports:
      - "4000:4000"
    volumes:
      - ./backend/src:/app/backend/src
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: >
      sh -c "node wait-db.js &&
             npx sequelize-cli db:migrate &&
             npm start"
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - PORT=4000
      - APP_URL=${APP_URL:-http://localhost:4000}
      - REACT_APP_API_URL=${REACT_APP_API_URL:-http://localhost:4000}
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - POSTGRES_DB=${POSTGRES_DB:-gitstars}
      - DB_HOST=${DB_HOST:-db}
      - DB_PORT=${DB_PORT:-5432}
      - GITHUB_CLIENT_ID=${GITHUB_CLIENT_ID}
      - GITHUB_CLIENT_SECRET=${GITHUB_CLIENT_SECRET}
      - SESSION_SECRET=${SESSION_SECRET}

  db:
    image: postgres:14-alpine
    profiles:
      - local-db
    ports:
      - "127.0.0.1:25432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - POSTGRES_DB=${POSTGRES_DB:-gitstars}
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
